.p-top-70 {
    padding-top: 90px !important;
}

.m-top-70 {
    margin-top: 90px !important;
}

.p-b-10 {
    padding-bottom: 10px;
}

xspon-top-dashboard {
    position: fixed;
    width: 100%;
    z-index: 1024;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-30 {
    margin-top: 30px;
}

.card {
    border-color: #dadada;
    border-radius: 0px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        b {
            font-weight: bolder;
            font-size: 16px;
            color: #747d8a;
        }
        .card-title {
            margin-bottom: .75rem;
            color: #2d2d2d;
            line-height: 22px;
            font-size: 18px;
            font-weight: 100;
        }
        .card-subtitle {
            font-weight: 300;
            margin-bottom: 15px;
            color: #99abb4;
            font-size: 12px;
            position: relative;
            top: -8px;
        }
        .form-control {
            background-color: #f5f5f5;
            box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.08);
            border: 1px solid #d8d8d8 !important;
            color: #747d8a;
            min-height: 38px;
            display: initial;
            height: 38px;
            padding: 0 10px;
            &::-webkit-input-placeholder {
                color: #ddd;
            }
        }

        .wishlist {
            color: #F25C00;
        }
        
        .reserved {
            color: #258039;
        }
        
        .completed {
            color: #4897D8;
        }
        
        .total {
            color: #C60000;
        }
    }
}

.p-10 {
    padding: 10px;
}

.bg-danger {
    background-color: #fc4b6c !important;
}

.bg-infos {
    background-color: #273655 !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.card h6 {
    font-size: 12px;
    position: relative;
    top: -8px;
}

.font-light {
    font-weight: 300;
}

.completed {
    color: #4597ef;
}

.total {
    color: #a73dc1;
}

.wishlist-bg {
    background: #F25C00;
}

.reserved-bg {
    background: #258039;
}

.completed-bg {
    background: #1e88e5;
}

.total-bg {
    background: #C60000;
}

.m-b-15 {
    margin-bottom: 15px;
}

.table-event {
    .card-body {
        .card-title {
            margin-bottom: .75rem;
            color: #fff;
            font-size: 18px;
            line-height: 22px;
            .btn {
                padding: 7px 12px;
                font-size: 14px;
                cursor: pointer;
                text-transform: none;
            }
        }
        .table-responsive {
            .table thead th,
            .table th {
                border: 0px;
                font-size: 1.1rem;
                line-height: 1.5;
                font-weight: 600;
                color: #747d8a;
            }
            .table-hover {
                tbody {
                    tr {
                        transition: all ease 0.3s;
                        cursor: pointer;
                        td {
                            border-color: rgba(120, 130, 140, 0.13);
                            font-size: 1.2rem;
                            color: #747d8a;
                            font-weight: 100;
                            line-height: 2.5rem;
                            padding: .55rem;
                        }
                        &:hover {
                            background: rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }
        .btn-xs {
            padding: .25rem .5rem;
            font-size: 10px;
            margin-right: 3px;
            border: 1px solid;
            line-height: 1.5;
            border-radius: .25rem;
        }
        .label {
            display: inline-block;
            padding: 3px 10px;
            line-height: 13px;
            color: #ffffff;
            font-weight: 400;
            border-radius: 0px;
            font-size: 75%;
            margin-right: 3px;
            text-transform: none;
        }
        .label-warning {
            background-color: #ffb22b;
        }
        .label-info {
            background-color: #273655;
        }
        .btn-outline-success {
            color: #26c6da;
            background-color: transparent;
            border-color: #26c6da;
            box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
            transition: 0.2s ease-in;
            cursor: pointer;
            &:hover,
            &:focus {
                background: #26c6da;
                border-color: #26c6da;
                color: #ffffff;
                box-shadow: 0 14px 26px -12px rgba(40, 190, 189, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(40, 190, 189, 0.2);
            }
        }
        .btn-outline-danger {
            color: #fc4b6c;
            background-color: transparent;
            border-color: #fc4b6c;
            box-shadow: 0 2px 2px 0 rgba(239, 83, 80, 0.14), 0 3px 1px -2px rgba(239, 83, 80, 0.2), 0 1px 5px 0 rgba(239, 83, 80, 0.12);
            transition: 0.2s ease-in;
            cursor: pointer;
        }
        .btn-outline-info {
            color: #1e88e5;
            background-color: transparent;
            border-color: #1e88e5;
            box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
            transition: 0.2s ease-in;
            border: 1px solid;
            &:hover,
            &:focus {
                background: #1e88e5;
                border-color: #1e88e5;
                color: #ffffff;
                box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
            }
        }
        .btn-label {
            background: rgba(0, 0, 0, 0.05);
            display: inline-block;
            margin: -6px 12px -6px -14px;
            padding: 7px 15px;
        }
    }
}

.text-center {
    text-align: center !important;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

ul.list-inline li {
    display: inline-block;
    padding: 0 8px;
}

.card h6 {
    font-size: 12px;
    position: relative;
    top: -8px;
}

.reserved {
    color: #32bcd2;
}

.font-10 {
    font-size: 10px;
}

.sold {
    color: #f22f5a;
}

.m-r-10 {
    margin-right: 10px;
}

.p-r-0 {
    padding-right: 0px;
}

.m-b-0 {
    margin-bottom: 0px;
}

.medium-text {
    font-size: 18px;
    font-weight: 400;
}

.large-text {
    font-size: 28px;
    font-weight: 400;
    position: relative;
    float: right;
    margin-right: 5px;
    top: 8px;
}

.text-muted {
    line-height: 25px;
    color: #99abb4 !important;
}

.male-female-bg {
    float: left;
    width: 100%;
    font-size: 12px;
}

.male-female-bg {
    .male {
        float: left;
        background: #30a581;
        color: #fff;
        padding: 0.5em;
    }
    .female {
        float: left;
        background: #a73dc1;
        color: #fff;
        padding: 0.5em;
    }
}

//footer
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    border-color: rgba(120, 130, 140, 0.13);
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav.nav-tabs.customtab .nav-item.tab-header {
    padding: 15px 6px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.4);
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

@media (min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}

.nav.nav-tabs.customtab li .nav-link {
    padding: 10px 20px !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
    border-bottom: 2px solid #f62d51;
    color: #f62d51;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    background-color: #263238;
    border-color: rgba(120, 130, 140, 0.13) rgba(120, 130, 140, 0.13) #263238;
    color: #fff;
}

.customtab {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.event-box-bg {
    padding: 10px;
    float: left;
    max-height: 115px;
    overflow: hidden;
    transition: all ease 0.3s;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        .event-box-bg-inner {
            background: rgba(0, 0, 0, 0.7);
        }
    }
    .event-box-bg-inner {
        transition: all ease 0.3s;
        background: rgba(0, 0, 0, 0.3);
        .categorey {
            float: left;
            width: 100%;
            BACKGROUND: rgba(0, 0, 0, 0.6);
            position: relative;
            top: -20px;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            padding: 5px 0;
        }
        h3 {
            font-size: 15px;
            padding: 7px 0 0 7px;
            margin: 0;
            line-height: 16px;
            color: #fff;
        }
        h5 {
            font-size: 12px;
            font-weight: 400;
            padding: 0px 0 0 8px;
            margin: 0;
            line-height: inherit;
            color: rgba(255, 255, 255, 0.8) !important;
        }
        p {
            font-size: 11px;
            font-weight: 200;
            padding: 0px 0 0 8px;
            font-style: italic;
            margin: 0;
            line-height: inherit;
            color: rgba(255, 255, 255, 0.8) !important;
        }
        h4 {
            font-size: 12px;
            font-weight: 200;
            padding: 10px 0 0 8px;
            margin: 0;
            line-height: inherit;
            color: rgba(255, 255, 255, 0.8) !important;
        }
    }
}

.plr-10 {
    padding: 0 10px;
}

.m-0 {
    margin: 0;
}

.label-primary {
    background-color: #7460ee;
}