<div class="first_picture video-bg-darken"></div>
<div class="slide-bgimg" style="transform: translateX(0px); transition: all 0ms ease 0s;">
</div>
<!-- <video autoplay loop class="w-100" id="bgvid" src="https://dilanjayasinghe.000webhostapp.com/1.4/1.4/Forntweb/assets/video/xspon.webm"></video> -->
<img src="../../../../assets/about-us.jpg" class="w-100 h-100" id="bgvid" alt="">
<div class="wrapper wrapper--center video-bg-text container">
  <div class="first__part">
    <div class="first__title title show">
      <div class="title title-animate"><span>About Us</span>
      </div>
      <div class="first__title-h2 title title-animate"><span>The standard chunk of Lorem Ipsum used since the 1500s is
          reproduced <br> below for those interested. Sections 1.10.32 and 1.10.33 from <br> "de Finibus Bonorum et
          Malorum"</span>
      </div>
      <div class="grid-avatar">
        <img src="../../../../assets/images/Adrien+Pierson.jpg" alt="">
        <img src="../../../../assets/images/Mathieu+Sibille.jpg" alt="">
        <img src="../../../../assets/images/David+Nagrosst.jpg" alt="">
      </div>
      <div class="first__title-h2 title title-animate"><span>The standard chunk of Lorem Ipsum used since the 1500s is
          reproduced <br> below for those interested. Sections 1.10.32 and 1.10.33 from <br> "de Finibus Bonorum et
          Malorum"</span>
      </div>
    </div>
  </div>
</div>