<toaster-container [toasterconfig]="config"></toaster-container>
<xspon-top-monitoring></xspon-top-monitoring>

<div class="row p-top-90">
  <div *ngIf="itemShow === 3" class="w-100">
    <div *ngFor="let item of completedWishlist" class="col-xl-12 p-0">
      <xspon-item-wishlist [valueInput]="item"></xspon-item-wishlist>
    </div>
  </div>
  <div *ngIf="itemShow === 4" class="w-100">
    <div *ngFor="let item of completedReserved" class="col-xl-12 p-0">
      <xspon-item-wishlist [valueInput]="item"></xspon-item-wishlist>
    </div>
  </div>
  <div *ngIf="itemShow === 5" class="w-100">
    <div *ngFor="let item of completedOngoing" class="col-xl-12 p-0">
      <xspon-item-recent-event [valueInput]="item"></xspon-item-recent-event>
    </div>
  </div>
  <div *ngIf="itemShow === 2" class="w-100">
    <div *ngFor="let item of completedSold" class="col-xl-12 p-0">
      <xspon-item-recent-event [valueInput]="item"></xspon-item-recent-event>
    </div>
  </div>
  <div *ngIf="itemShow === 1" class="w-100">
    <div *ngFor="let item of completedAll" class="col-xl-12 p-0">
      <div *ngIf="role === 'BUYER'">
        <xspon-item-wishlist [valueInput]="item"></xspon-item-wishlist>
      </div>
      <div *ngIf="role === 'SELLER'">
        <xspon-item-recent-event [valueInput]="item"></xspon-item-recent-event>
      </div>
    </div>
  </div>
</div>