@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@include nb-install-component() {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .left {
        display: flex;
        width: 100%;
        order: 0;
        flex-direction: row;
    }
    .right {
        order: 1;
        flex-direction: row-reverse;
    }
    .ml-40 {
        margin-left: 40px;
    }
    .logo-containter {
        display: flex;
        align-items: center;
        width: calc(17.5rem - 1.25rem);
        &.compacted {
            width: 4.5rem;
            .logo {
                display: none;
            }
        }
    }
    .control-item {
        display: block;
        border: none;
    }
    nb-user /deep/ .user-name {
        color: #fff;
    }
    .header-container {
        display: flex;
        align-items: center;
        width: auto;
        .navigation {
            @include nb-ltr(padding-right, nb-theme(padding));
            @include nb-rtl(padding-left, nb-theme(padding));
            font-size: 2.5rem;
            text-decoration: none;
            i {
                display: block;
            }
        }
        .logo-containter {
            display: block;
        }
        .logo {
            text-align: center;
            padding: 0 nb-theme(padding);
            font-size: 1.75rem;
            font-weight: nb-theme(font-weight-bolder); //@include nb-ltr(border-left, 1px solid nb-theme(separator));
            //@include nb-rtl(border-right, 1px solid nb-theme(separator));
            white-space: nowrap;
            color: #fff;
            img {
                color: rgba(255, 255, 255, 0.8);
                height: 40px;
            }
            span {
                font-weight: nb-theme(font-weight-normal);
            }
        }
    }
    @include nb-for-theme(corporate) {
        $menu-action-separator-color: #3f4550;
        nb-action {
            @include nb-ltr(border-left-color, $menu-action-separator-color);
            @include nb-rtl(border-right-color, $menu-action-separator-color);
        }
        .header-container .logo {
            @include nb-ltr(border, none);
            @include nb-rtl(border, none);
        }
        .header-container /deep/ ngx-theme-switcher .dropdown-toggle {
            color: nb-theme(color-white);
            background: transparent;
        }
    }
    ngx-layout-direction-switcher {
        margin: 0 1.5rem;
    }
    ngx-theme-switcher {
        margin: nb-theme(layout-padding);
        margin-top: 0;
        margin-bottom: 0;
    }
    @include media-breakpoint-down(xl) {
        ngx-layout-direction-switcher {
            display: none;
        }
    }
    .toggle-layout /deep/ a {
        display: block;
        text-decoration: none;
        line-height: 1;
        i {
            color: nb-theme(color-fg-highlight);
            font-size: 2.25rem;
            border-radius: 50%;
            position: relative;
            animation-name: pulse-light;
            &::after {
                content: ' '; // hack to be able to set border-radius
                background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
                border-radius: 50%;
                pointer-events: none;
                position: absolute;
                top: 52.3%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 13%;
                height: 13%;
                animation: 3s linear infinite pulse;
                @include nb-for-theme(default) {
                    animation-name: pulse-light;
                }
            }
        }
    }
    @include keyframes(pulse) {
        0% {
            box-shadow: 0 0 1px 0 rgba(nb-theme(color-fg-highlight), 0);
        }
        20% {
            box-shadow: 0 0 3px 10px rgba(nb-theme(color-fg-highlight), 0.4);
        }
        100% {
            box-shadow: 0 0 5px 20px rgba(nb-theme(color-fg-highlight), 0);
        }
    }
    @include keyframes(pulse-light) {
        0% {
            box-shadow: 0 0 1px 0 rgba(115, 255, 208, 0);
        }
        20% {
            box-shadow: 0 0 3px 10px rgba(115, 255, 208, 0.4);
        }
        100% {
            box-shadow: 0 0 5px 20px rgba(115, 255, 208, 0);
        }
    }
    @include media-breakpoint-down(md) {
        nb-action:not(.toggle-layout) {
            border: none;
        }
        .control-item {
            display: none;
        }
        .toggle-layout {
            padding: 0;
        }
        ngx-layout-direction-switcher {
            display: none;
        }
        ngx-theme-switcher {
            margin: 0 0.5rem;
        }
    }
    @include media-breakpoint-down(sm) {
        nb-user /deep/ .user-name {
            display: none;
        }
    }
    @include media-breakpoint-down(is) {
        .header-container {
            .logo {
                font-size: 1.25rem;
            }
        }
        .toggle-layout {
            display: none;
        }
        ngx-theme-switcher {
            display: none;
        }
        nb-action:not(.toggle-layout) {
            // padding: 0;
        }
    }
    @include media-breakpoint-down(xs) {
        .right /deep/ {
            display: none;
        }
    }
}

.show-content {
    display: block;
}

.expanded {
    width: 265px !important;
    img {
        display: block;
        margin: 0 auto;
    }
    xspon-theme-switcher {
        margin-left: 0;
    }
}

xspon-theme-switcher {
    margin-left: 50px;
}

.navbar-nav {
    .nav-item {
        &.show {
            background: rgba(0, 0, 0, 0.05);
        }
        a {
            &.nav-link {
                color: rgba(255, 255, 255, 0.8) !important;
                padding-left: .75rem;
                padding-right: .75rem;
                font-size: 19px;
                line-height: 50px;
                &::after {
                    display: none;
                }
                .notify {
                    position: relative;
                    top: -25px;
                    right: -7px;
                    .heartbit {
                        position: absolute;
                        top: -20px;
                        right: -4px;
                        height: 25px;
                        width: 25px;
                        z-index: 10;
                        border: 5px solid #E72F4C;
                        border-radius: 70px;
                        -moz-animation: heartbit 1s ease-out;
                        -moz-animation-iteration-count: infinite;
                        -o-animation: heartbit 1s ease-out;
                        -o-animation-iteration-count: infinite;
                        -webkit-animation: heartbit 1s ease-out;
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                    }
                    .point {
                        width: 6px;
                        height: 6px;
                        -webkit-border-radius: 30px;
                        -moz-border-radius: 30px;
                        border-radius: 30px;
                        background-color: #E72F4C;
                        position: absolute;
                        right: 6px;
                        top: -10px;
                    }
                }
            }
        }
    }
}

.scale-up {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    display: inline-block;
    transform-origin: right 0px;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}
// .none-read {
//     background: rgba(93, 207, 227, 0.43);
// }

.dropdown-menus {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    ul {
        margin: 0;
        padding: 0;
        float: left;
        li {
            list-style: none;
            float: left;
            width: 100%;
            padding: 5px 15px;
            a {
                font-size: 14px;
                font-weight: 500;
                padding: 6px;
                text-decoration: none;
                float: left;
                color: #6f7477;
                &:hover {
                    background: rgba(0, 0, 0, 0.4);
                }
            }
            div {
                font-size: 14px;
                font-weight: 500;
                padding: 6px;
            }
        }
    }
    &.show {
        display: block;
        &.scale-up {
            transform: scale(1);
            transform-origin: right 0px;
        }
    }
}

@media screen and (max-width: 1200px) {
    xspon-theme-switcher {
        margin-left: 15px;
    }
    .logo-containter {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .mb-lg-0,
    .my-lg-0 {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        .dropdown-menus {
            position: absolute;
            width: 300px;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
            border-color: rgba(120, 130, 140, 0.13);
            color: #747d8a;
            background-color: #ececec;
        }
    }
}

@media screen and (max-width: 768px) {
    // xspon-theme-switcher {
    //     position: fixed;
    //     margin-left: 45px;
    // }
    .expanded {
        .logo-containter {
            display: none !important;
        }
    }
}

.medium {
    svg {
        color: #fff;
        font-size: 20px;
    }
}