.card {
    border-color: #dadada;
    border-radius: 0px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        .card-title {
            margin-bottom: .75rem;
            color: #2d2d2d;
            font-size: 18px;
            font-weight: 400;
        }
        .card-subtitle {
            font-weight: 300;
            margin-bottom: 15px;
            color: #99abb4;
            font-size: 12px;
            position: relative;
            top: -8px;
        }
        .form-control {
            color: #747d8a;
            min-height: 38px;
            display: initial;
            background-color: #f5f5f5;
            box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.08);
            border: 1px solid #d8d8d8;
            &::-webkit-input-placeholder {
                color: #ddd;
            }
        }
    }
}

.p-top-70 {
    padding-top: 90px;
}

.image-cropper {
    height: auto;
    position: relative;
    overflow: hidden;
}
.roundeds {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background:url("../../../assets/images/banner/APxspon.jpg") center no-repeat;
    background-size:cover;
}

@media screen and (max-width:1550px) {
    .roundeds {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width:1380px) {
    .roundeds {
        height: 60px;
        width: 60px;
    }
}

.img-circle {
    border-radius: 100%;
}

.img-responsive {
    display: inline-block;
    width: 100%;
    height: 50px;
}

h3 {
    line-height: 30px;
    font-size: 21px;
    color: #000;
}

.m-b-0 {
    margin-bottom: 0px;
}

.small,
small {
    font-weight: 500;
    line-height: 2.5;
}

address {
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 1.5;
}

.form-group {
    margin-bottom: 25px;
    .form-control {
        color: #747d8a;
        min-height: 38px;
        display: initial;
        background-color: #f5f5f5;
        box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.08);
        border: 1px solid #d8d8d8;
        &:focus {
            color: #495057;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
        }
    }
}

.btn {
    padding: 7px 12px;
    font-size: 14px;
    cursor: pointer;
    text-transform: capitalize;
    .btn-label {
        background: rgba(0, 0, 0, 0.05);
        display: inline-block;
        margin: -6px 12px -6px -14px;
        padding: 7px 15px;
    }
    &.btn-outline-info {
        color: #273655;
        background-color: transparent;
        border-color: #273655;
        box-shadow: 0 2px 2px 0 rgba(66, 165, 245, 0.14), 0 3px 1px -2px rgba(66, 165, 245, 0.2), 0 1px 5px 0 rgba(66, 165, 245, 0.12);
        transition: 0.2s ease-in;
        border-width: 1px;
        padding: 9px 12px;
        &:hover,
        &:focus,
        &.focus {
            background: #273655;
            border-color: #273655;
            color: #ffffff;
            box-shadow: 0 14px 26px -12px rgba(23, 105, 255, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(23, 105, 255, 0.2);
        }
    }
}