<xspon-top-contact></xspon-top-contact>

<div class="row p-top-70">
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-4">
        <div class="card card-body">
            <div class="row">
                <div class="col-xl-4 col-lg-12 text-center">
                    <div class="image-cropper">
                        <div class="roundeds"></div>
                    </div>
                    <!-- <a href="app-contact-detail.html"><img src="../../../assets/images/banner/APxspon.jpg" alt="user"
                            class="img-circle img-responsive"></a> -->
                </div>
                <div class="col-xl-8 col-lg-12">
                    <h3 class="box-title m-b-0">Adrien Pierson</h3> <small>Co-founder & CEO</small>
                    <address>
                        16 Raffles Quay
                        Hong Leong Building
                        Singapore
                        <br />
                        <br />
                        <a href="mailto:hello@xspon.com?Subject=Hello%20again" target="_top">hello@xspon.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->

</div>

<div class="row m-0">
    <div class="card card-body">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="jobTitle2">Name :</label>
                        <input type="text" formControlName="name" class="form-control required" id="Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="webUrl3">Email :</label>
                        <input type="email" formControlName="email" class="form-control required" id="email" name="email">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="shortDescription3"> Description :</label>
                        <textarea name="Description" formControlName="description" id="Description3" rows="6" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <button type=submit class="btn float-right btn-outline-info waves-effect waves-light m-b-20"><span
                            class="btn-label"><i class="fas fa-paper-plane"></i></span> Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>