<div class="row">
  <div class="col-lg-12">
    <xspon-hero-buttons></xspon-hero-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <xspon-shape-buttons></xspon-shape-buttons>
    <xspon-action-groups></xspon-action-groups>
    <xspon-labeled-actions-group></xspon-labeled-actions-group>

    <div class="row">
      <div class="col-lg-5">
        <xspon-dropdown-buttons></xspon-dropdown-buttons>
        <xspon-icon-buttons></xspon-icon-buttons>
      </div>
      <div class="col-lg-7">
        <xspon-button-groups></xspon-button-groups>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <xspon-size-buttons></xspon-size-buttons>
    <xspon-default-buttons></xspon-default-buttons>
    <xspon-block-level-buttons></xspon-block-level-buttons>
  </div>
</div>
