<section id="home" class="s-home page-hero target-section">
  <div class="grid-overlay">
    <div></div>
  </div>
  <div class="home-content">
    <div class="home-logo">
      <img src="../../../../assets/Logo.png" alt="Homepage">
    </div>
    <div class=" home-content__main">
      <h1>
        Sponsorship Network
        <small>empowering partnership marketing</small>
      </h1>
      <div id="ticker-roll" class="ticker">
        <ul>
          <li>
            <h3>
              Music
            </h3>
          </li>

          <li>
            <h3>
              Sports
            </h3>
          </li>
          <li>
            <h3>
              Arts
            </h3>
          </li>
          <li>
            <h3>
              Lifestyle
            </h3>
          </li>
          <li>
            <h3>
              Entertainment
            </h3>
          </li>
          <li>
            <h3>
              Corporate
            </h3>
          </li>
          <li>
            <h3>
              Tradeshows
            </h3>
          </li>
        </ul>
      </div>
      <video poster="assets/video.png" id="bgvid" playsinline autoplay muted loop>
        <source src="../../../../assets/video/xspon.webm" type="video/webm">
        <source src="../../../../assets/video/xspon.mp4" type="video/mp4">
      </video>
    </div>
    <!-- end home-content__main -->
  </div>
  <!-- end home-content -->
  <ul class="home-social">
    <li>
      <a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a>
    </li>
    <li>
      <a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
    </li>
    <li>
      <a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
    </li>
    <li>
      <a href="#0"><i class="fab fa-linkedin" aria-hidden="true"></i><span>Instagram</span></a>
    </li>
  </ul>
  <!-- end home-social -->
</section>