<div class="first_picture video-bg-darken"></div>
<div class="slide-bgimg" style="transform: translateX(0px); transition: all 0ms ease 0s;">
</div>
<!-- <video autoplay loop class="w-100" id="bgvid" src="https://dilanjayasinghe.000webhostapp.com/1.4/1.4/Forntweb/assets/video/xspon.webm"></video> -->
<img src="../../../../assets/contact-us.jpg" class="w-100" id="bgvid" alt="">
<div class="container video-bg-text">
  <div class="row fix-center">
    <div class="col-lg-7">
      <form>
        <div class="form-group">
          <label class="sr-only" for="input-email">Name</label>
          <input id="input-name" name="name" placeholder="Name" class="input-full-width input-md input-rectangle"
            required="">
        </div>
        <div class="form-group">
          <label class="sr-only" for="input-password">Email</label>
          <input id="input-email" name="email" placeholder="Email" type="email" class="input-full-width input-md input-rectangle"
            required="">
        </div>
        <div class="form-group">
          <label class="sr-only" for="input-phone">Phone</label>
          <input id="input-phone" name="phone" placeholder="Phone" type="number" class="input-full-width input-md input-rectangle"
            required="">
        </div>
        <div class="form-group">
          <label class="sr-only" for="input-comment">Comment</label>
          <textarea id="input-comment" name="comment" placeholder="Comment" type="text" class="input-full-width input-md input-rectangle"
            required=""></textarea>
        </div>
        <button class="btn-send btn-full-width btn-disabled"><i class="fas fa-paper-plane"></i> Send</button>
      </form>
      <div class="clearfix"></div>
      <div class="address">
        <p>16 Raffles Quay</p>
        <p>Hong Leong Building Singapore</p>
        <p>048581</p>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="top-contact">
        <h2 class="title">Contact Us</h2>
        <a href="mailto:hello@xspon.com?Subject=Hello%20again" target="_top">hello@xspon.com</a>
        <p class="number-phone">Singapore : +65 8722 6658</p>
        <p class="number-phone">France : +33 6 29 66 89 47</p>
      </div>
      <div class="map">
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
      </div>
    </div>
  </div>
</div>