<div class="row">
  <div class="col-xxxl-3 col-md-6" *ngFor="let statusCard of statusCards">
    <xspon-status-card [title]="statusCard.title"
                     [type]="statusCard.type">
      <i [ngClass]="statusCard.iconClass"></i>
    </xspon-status-card>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <xspon-temperature></xspon-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <xspon-electricity></xspon-electricity>
  </div>
</div>

<div class="row">
  <!-- <div class="col-xxxl-9 col-xl-12">
    <xspon-rooms></xspon-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <xspon-contacts></xspon-contacts>
  </div> -->

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <xspon-solar [chartValue]="72"></xspon-solar>

    <xspon-kitten></xspon-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <xspon-traffic></xspon-traffic>
    <xspon-weather></xspon-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <xspon-security-cameras></xspon-security-cameras>
  </div>
</div>
