<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <xspon-d3-pie></xspon-d3-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Bar</nb-card-header>
      <nb-card-body>
        <xspon-d3-bar></xspon-d3-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Line</nb-card-header>
      <nb-card-body>
        <xspon-d3-line></xspon-d3-line>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Advanced Pie</nb-card-header>
      <nb-card-body>
        <xspon-d3-advanced-pie></xspon-d3-advanced-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Area Chart</nb-card-header>
      <nb-card-body>
        <xspon-d3-area-stack></xspon-d3-area-stack>
      </nb-card-body>
    </nb-card>
  </div>
</div>
