<section id="about" class="about-wrapper">
    <div class="s-about-img">
        <div class="opacity-bg"></div>
        <div class="s-about">
            <div class="row">
                <div class="text-bg bg1 text-left m-t-20">
                    <h3>
                        We created XSPON to bring companies together. The digital world enables individuals to
                        connect based on their common values and interests: why couldn’t organisations do the
                        same?!
                    </h3>
                    <h3>
                        By facilitating partnerships between marketers and event owners, we aim to become the
                        trusted network where business opportunities are created through customer focused, and data
                        driven, event sponsorship.
                    </h3>
                </div>
            </div>
            <div class="row about-s narrow">
                <div class="row" style="width: 100%">
                    <div class="about-wrapper" style="width: 100%">
                        <div class="col-md-4">
                            <div class="about-bg ">
                                <div class="col-6">
                                    <img src="../../../../assets/images/banner/person1.png">
                                </div>
                                <div class="Founders col-6 p-0">
                                    Adrien Pierson
                                    <span>Founder &amp; CEO<br>
                                        <ul class="contact-social">
                                            <li>
                                                <a href="https://www.linkedin.com/in/adrienpierson/" target="_blank"><i
                                                        class="fab fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- end testimonials__slide -->
                        <div class="col-md-4">
                            <div class="about-bg ">
                                <div class="col-6">
                                    <img src="../../../../assets/images/banner/person2.png">
                                </div>
                                <div class="Founders col-6 p-0">
                                    David Nagrosst
                                    <span>Co-founder &amp; CTO <br>
                                        <ul class="contact-social">
                                            <li>
                                                <a href="https://www.linkedin.com/in/davidnagrosst/" target="_blank"><i
                                                        class="fab fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- end testimonials__slide -->
                        <div class=" col-md-4">
                            <div class="about-bg ">
                                <div class="col-6">
                                    <img src="../../../../assets/images/banner/person3.png">
                                </div>
                                <div class="Founders col-6 p-0">
                                    Mathieu Sibille
                                    <span>Co-founder &amp; Chairman&nbsp;
                                        <ul class="contact-social">
                                            <li>
                                                <a href="https://www.linkedin.com/in/mathieusibille/" target="_blank"><i
                                                        class="fab fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>