<nb-card>
  <nb-card-header>Google Maps with search</nb-card-header>
  <nb-card-body>
    <xspon-search (positionChanged)="updateLocation($event)"></xspon-search>
    <xspon-map [searchedLocation]="searchedLocation"></xspon-map>
  </nb-card-body>
</nb-card>
