<div *ngIf="isActive">
    <h1>Welcome to XSPON! You can now login to your account</h1>
</div>
<div *ngIf="!isActive">
    <h1>Verify Expire</h1>
</div>
<button (click)="backHome()">My XSPON account</button>